# SERVER
PORT=3000
HOST=localhost
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
APP_URL=http://localhost:3000
API_BASE_URL=http://localhost:3000/api

# DATABASE
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/afrostory?retryWrites=true&w=majority

# AUTH
JWT_SECRET=replace_with_32_plus_character_secret
JWT_EXPIRES_IN=7d

# EMAIL / RESEND
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxx
RESEND_FROM_EMAIL=hello@yourdomain.com
RESEND_FROM_NAME=AFROSTORY

# TERMII
TERMII_API_KEY=
TERMII_SENDER_ID=
TERMII_BASE_URL=https://api.ng.termii.com/api/sms

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
CLOUDINARY_UPLOAD_CHUNK_SIZE=20000000
CLOUDINARY_UPLOAD_TIMEOUT_MS=600000

# PAYSTACK
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
PAYSTACK_WEBHOOK_SECRET=

# OAUTH
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:3000/api/auth/github/callback

APPLE_CLIENT_ID=
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
APPLE_CALLBACK_URL=http://localhost:3000/api/auth/apple/callback

# NOTIFICATIONS
ONESIGNAL_APP_ID=
ONESIGNAL_API_KEY=
SOCKET_URL=http://localhost:3000

# REWARDS
REWARD_TIMEZONE=Africa/Lagos
REWARD_SOCIAL_YOUTUBE_URL=
REWARD_SOCIAL_TIKTOK_URL=
REWARD_SOCIAL_X_URL=

# MONETAG
MONETAG_PUBLISHER_ID=
MONETAG_ZONE_ID=
MONETAG_DIRECT_LINK=
